<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.jie.mapper.AdminMapper">

    <select id="queryUserList" resultType="Admin">
        select * from admin;
    </select>
    <select id="queryAdminPaging" resultType="Admin">
        select * from admin
        <if test="key != ''">
            where ${key} like CONCAT('%',#{value},'%')
        </if>
        LIMIT ${start},${count}
    </select>
    <select id="queryAdminCount" resultType="int">
        select count(*) from admin
        <if test="key != ''">
            where ${key} like CONCAT('%',#{value},'%')
        </if>
    </select>

    <select id="queryUserById" resultType="Admin" parameterType="int">
        select * from admin where id = #{id};
    </select>
    <select id="queryIdNumberByAccount" parameterType="String" resultType="String">
        select id_number
        from admin where account=#{account};
    </select>

    <select id="queryUsernameByAccount" resultType="String" parameterType="String">
        select username from admin where account=#{account}
    </select>

    <select id="queryAccount" resultType="int" parameterType="String">
        select count(*) from admin where account = #{account};
    </select>
    <select id="queryPassword" resultType="String" parameterType="String">
        select password from admin where account = #{account}
    </select>

    <select id="queryAdminByNumber" resultType="Admin" parameterType="String">
        select * from admin where phone_number = #{number};
    </select>
    <select id="queryPhoneByAccount" resultType="String" parameterType="String">
        select phone_number from admin where account = #{account}
    </select>
    <select id="queryQQByIdNumber" resultType="String" parameterType="String">
        select email from admin where id_number = #{id_number}
    </select>
    <select id="queryEmailByAccount" resultType="String" parameterType="String">
        select email from admin where account = #{account}
    </select>
    <select id="queryAdminByAccount" resultType="Admin" parameterType="String">
        select * from admin where account = #{account};
    </select>
    <select id="queryUserInfoByAccount" resultMap="userInfoTwo" parameterType="String">
        SELECT userinfo.account,userinfo.username,userinfo.phone_number,userinfo.id_number,userinfo.id_type,
               userinfo.district,userinfo.email,user_verification.id_verification,
               user_verification.phone_verification
        FROM userinfo
                 JOIN user_verification ON userinfo.account = user_verification.account
        WHERE userinfo.account = #{account}
    </select>
    <resultMap id="userInfoTwo" type="HashMap">
        <result column="account" property="account" javaType="String" />
        <result column="username" property="username" javaType="String" />
        <result column="phone_number" property="phone_number" javaType="string" />
        <result column="id_type" property="id_type" javaType="String" />
        <result column="id_number" property="id_number" javaType="String" />
        <result column="district" property="district" javaType="String" />
        <result column="email" property="email" javaType="String" />
        <result column="id_verification" property="id_verification" javaType="String" />
        <result column="phone_verification" property="phone_verification" javaType="String" />
    </resultMap>
    <insert id="addUser" parameterType="User">
        insert into userinfo (id,account,password,username,phone_number,id_type,id_number,district,email,registration_time)
        values (#{id},#{account},#{password},#{username},#{phone_number},#{id_type},#{id_number},#{district},#{email},#{registration_time})
    </insert>

    <insert id="addVerification" parameterType="UserVerification">
        insert into user_verification (id,account, id_verification, phone_verification)
        VALUES (#{id},#{account},#{id_verification},#{phone_verification})
    </insert>

    <update id="updateAdmin" parameterType="Admin">
        update admin
        <set>
            <if test="id!=null">id=#{id},</if>
            <if test="account!=null">account=#{account},</if>
            <if test="password!=null">password=#{password},</if>
            <if test="username!=null">username=#{username},</if>
            <if test="phone_number!=null">phone_number=#{phone_number},</if>
            <if test="id_type!=null">id_type=#{id_type},</if>
            <if test="id_number!=null">id_number=#{id_number},</if>
            <if test="district!=null">district=#{district},</if>
            <if test="registration_time!=null">registration_time=#{registration_time},</if>
            <if test="grade!=null">grade=#{grade},</if>
            <if test="email!=null">email=#{email},</if>
            <if test="state!=null">state=#{state},</if>
        </set>
        where account = #{account}
    </update>

    <delete id="deleteUserById" parameterType="int">
        delete from userinfo where id = #{id}
    </delete>

</mapper>
