<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.jie.mapper.CarMapper">

    <select id="queryCarList" resultType="Car">
        select * from car;
    </select>
    <select id="queryCarPaging" resultType="Car">
        select * from car
        <if test="key != ''">
            where ${key} like CONCAT('%',#{value},'%')
        </if>
        LIMIT ${start},${count}
    </select>
    <select id="queryCarCount" resultType="int">
        select count(*) from car
        <if test="key != ''">
            where ${key} like CONCAT('%',#{value},'%')
        </if>
    </select>

    <select id="queryCarById" resultType="Car" parameterType="int">
        select * from car where id = #{id};
    </select>
    <select id="querySeatByCarNumber" resultType="String" parameterType="String">
        select seat_type from car where car_number = #{car_number}
    </select>
    <insert id="addCar" parameterType="Car">
        insert into car (id,car_number,car_type,seat_type,passenger_capacity,state)
        values (#{id},#{car_number},#{car_type},#{seat_type},#{passenger_capacity},#{state})
    </insert>

    <update id="updateCar" parameterType="Car">
        update car set name=#{name},pwd=#{pwd} where id=#{id}
    </update>

    <delete id="deleteCarById" parameterType="int">
        delete from car where id = #{id}
    </delete>

</mapper>
