<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.jie.mapper.CarMapper">

    <select id="queryCarList" resultType="Car">
        select * from car;
    </select>
    <select id="queryCarPaging" resultType="Car">
        select * from car
        <if test="key != ''">
            where ${key} like CONCAT('%',#{value},'%')
        </if>
        LIMIT ${start},${count}
    </select>
    <select id="queryCarCount" resultType="int">
        select count(*) from car
        <if test="key != ''">
            where ${key} like CONCAT('%',#{value},'%')
        </if>
    </select>
    <select id="queryCarRentalFees" resultType="CarRentalFees">
        select * from car_rental_fees
    </select>
    <select id="queryNotUseCar" resultType="String">
        SELECT car_number FROM car
        WHERE car_number NOT IN (SELECT car_number FROM car_route)
            AND car_number NOT IN (SELECT car_number FROM chartered_bus)
    </select>
    <select id="queryNotUseCarByType" resultType="Car">
        SELECT car_number,passenger_capacity,seat_type FROM car
        WHERE car_number NOT IN (SELECT car_number FROM car_route)
            AND car_number NOT IN (SELECT car_number FROM chartered_bus)
            AND car_type = #{carType}
    </select>
    <select id="queryCharteredBusInfo" resultMap="CharteredBusInfo">
        SELECT chartered_bus.car_number,chartered_bus.start_time,chartered_bus.end_time,
               chartered_bus.cost,chartered_bus.notes,chartered_bus.id_number,car.car_type,
               car.passenger_capacity,car.seat_type FROM chartered_bus
        JOIN car ON chartered_bus.car_number = car.car_number
        WHERE chartered_bus.id_number = #{id_number}
    </select>
    <resultMap id="CharteredBusInfo" type="HashMap">
        <result column="car_number" property="car_number" javaType="String" />
        <result column="start_time" property="start_time" javaType="String" />
        <result column="end_time" property="end_time" javaType="String" />
        <result column="cost" property="cost" javaType="String" />
        <result column="notes" property="notes" javaType="String" />
        <result column="id_number" property="id_number" javaType="String" />
        <result column="car_type" property="car_type" javaType="String" />
        <result column="passenger_capacity" property="passenger_capacity" javaType="String" />
        <result column="seat_type" property="seat_type" javaType="String" />

    </resultMap>

    <select id="queryCarById" resultType="Car" parameterType="int">
        select * from car where id = #{id};
    </select>
    <select id="querySeatByCarNumber" resultType="String" parameterType="String">
        select seat_type from car where car_number = #{car_number}
    </select>
    <insert id="addCar" parameterType="Car">
        insert ignore into car (id,car_number,car_type,seat_type,passenger_capacity,state)
        values (#{id},#{car_number},#{car_type},#{seat_type},#{passenger_capacity},#{state})
    </insert>
    <insert id="addCharteredBus" parameterType="CharteredBus">
        insert ignore into chartered_bus (id, car_number, id_number, start_time, end_time, notes, cost, status)
        values (#{id},#{car_number},#{id_number},#{start_time},#{end_time},#{notes},#{cost},#{status})
    </insert>

    <update id="updateCar" parameterType="Car">
        update car
        <set>
            <if test="id!=null">id=#{id},</if>
            <if test="car_number!=null">car_number=#{car_number},</if>
            <if test="car_type!=null">car_type=#{car_type},</if>
            <if test="seat_type!=null">seat_type=#{seat_type},</if>
            <if test="passenger_capacity!=null">passenger_capacity=#{passenger_capacity},</if>
            <if test="state!=null">state=#{state},</if>
        </set>
        where car_number = #{car_number}
    </update>

    <delete id="deleteCarById" parameterType="int">
        delete from Car where id = #{id}
    </delete>
    <delete id="delCarByCarNumber" parameterType="string">
        delete from Car where car_number = #{car_number}
    </delete>
    <delete id="delCharteredBusByCarNumber" parameterType="String">
        delete from chartered_bus where car_number = #{carNumber}
    </delete>
    <delete id="batchDelCarByCarNumber" parameterType="string">
        delete from Car where car_number in
        <foreach collection="carNumbers" item="carNumber" open="(" separator="," close=")">
            #{carNumber}
        </foreach>
    </delete>

</mapper>
