<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.jie.mapper.CarRouteMapper">

    <select id="queryCarRouteList" resultType="CarRoute">
        select * from car_route;
    </select>

    <select id="queryCarRoutePaging" resultType="CarRoute">
        select * from car_route
        <if test="key != ''">
            where ${key} like CONCAT('%',#{value},'%')
        </if>
        LIMIT ${start},${count}
    </select>
    <select id="queryCarRouteCount" resultType="int">
        select count(*) from car_route
        <if test="key != ''">
            where ${key} like CONCAT('%',#{value},'%')
        </if>
    </select>

    <select id="queryCarRouteById" resultType="CarRoute" parameterType="int">
        select * from car_route where id = #{id};
    </select>

    <select id="queryCarRouteByRouteNumber" resultType="CarRoute" parameterType="String">
        select * from car_route where route_number=#{route_number};
    </select>

    <select id="queryCarRouteBySE" resultType="CarRoute" parameterType="String">
        SELECT * FROM car_route WHERE from_station LIKE CONCAT('%',#{start},'%') AND to_station LIKE concat('%',#{end},'%') order by departure_time
    </select>


    <insert id="addCarRoute" parameterType="CarRoute">
        insert into car_route (id,route_number,car_number,from_station,to_station,departure_time,shift,mileage,price)
        values (#{id},#{route_number},#{car_number},#{from_station},#{to_station},#{departure_time},#{shift},#{mileage},#{price})
    </insert>

    <update id="updateCarRouteTime" parameterType="CarRoute">
        update car_route set departure_time=#{departure_time} where id=#{id}
    </update>
    <update id="updateCarRoute" parameterType="CarRoute">
        update car_route
        <set>
            <if test="id!=null">id=#{id},</if>
            <if test="route_number!=null">route_number=#{route_number},</if>
            <if test="car_number!=null">car_number=#{car_number},</if>
            <if test="from_station!=null">from_station=#{from_station},</if>
            <if test="to_station!=null">to_station=#{to_station},</if>
            <if test="departure_time!=null">departure_time=#{departure_time},</if>
            <if test="shift!=null">shift=#{shift},</if>
            <if test="mileage!=null">mileage=#{mileage},</if>
            <if test="price!=null">price=#{price},</if>
        </set>
        where route_number = #{route_number}
    </update>

    <delete id="deleteCarRouteById" parameterType="int">
        delete from car_route where id = #{id}
    </delete>
    <delete id="delByRouteNumber" parameterType="string">
        delete from car_route where route_number = #{routeNumber}
    </delete>
    <delete id="batchDelByRouteNumber" parameterType="string">
        delete from car_route where route_number in
        <foreach collection="routeNumbers" item="routeNumber" open="(" separator="," close=")">
            #{routeNumber}
        </foreach>
    </delete>

</mapper>
