<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.jie.mapper.CarRouteMapper">

    <select id="queryCarRouteList" resultType="CarRoute">
        select * from car_route;
    </select>

    <select id="queryCarRouteById" resultType="CarRoute" parameterType="int">
        select * from car_route where id = #{id};
    </select>

    <select id="queryCarRouteBySE" resultType="CarRoute" parameterType="String">
        SELECT * FROM car_route WHERE from_station LIKE CONCAT('%',#{start},'%') AND to_station LIKE concat('%',#{end},'%')
    </select>



    <insert id="addCarRoute" parameterType="CarRoute">
        insert into car_route (id,route_number,car_number,from_station,to_station,departure_time,shift,mileage,price)
        values (#{id},#{route_number},#{car_number},#{from_station},#{to_station},#{departure_time},#{shift},#{mileage},#{price})
    </insert>

    <update id="updateCarRouteTime" parameterType="CarRoute">
        update car_route set departure_time=#{departure_time} where id=#{id}
    </update>

    <delete id="deleteCarRouteById" parameterType="int">
        delete from car_route where id = #{id}
    </delete>

</mapper>
