<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.jie.mapper.OrderMapper">

    <select id="queryOrderList" resultType="Order">
        select * from orderinfo;
    </select>
    <select id="queryHistoricalOrderByAccount" resultType="Order">
        SELECT orderinfo.*
        FROM orderinfo
            JOIN userinfo ON orderinfo.id_number = userinfo.id_number
        WHERE userinfo.account = #{account} AND orderinfo.seat_id IS NOT NULL
        ORDER BY orderinfo.order_time DESC
    </select>
    <select id="queryHistoricalOrderPaging" resultType="Order">
        SELECT orderinfo.*
        FROM orderinfo
            JOIN userinfo ON orderinfo.id_number = userinfo.id_number
        WHERE userinfo.account = #{account} AND orderinfo.seat_id IS NOT NULL
        ORDER BY orderinfo.order_time DESC
        LIMIT ${start},${count}
    </select>
    <select id="queryHistoricalOrderCount" resultType="int">
        SELECT count(*)
        FROM orderinfo
                 JOIN userinfo ON orderinfo.id_number = userinfo.id_number
        WHERE userinfo.account = #{account} AND orderinfo.seat_id IS NOT NULL
    </select>
    <select id="queryOrderTemporaryByAccount" resultType="OrderTemporary">
        SELECT orderinfo_temporary.*
        FROM orderinfo_temporary
            JOIN userinfo ON orderinfo_temporary.id_number = userinfo.id_number
        WHERE userinfo.account = #{account} AND orderinfo_temporary.seat_id IS NOT NULL
        ORDER BY orderinfo_temporary.order_time DESC
    </select>
    <select id="queryOrderTimeByOrderNumber" resultType="String" parameterType="String">
        select order_time from orderinfo_temporary where order_number=#{order_number}
    </select>
    <select id="queryOrderTimeAndSeatByOrderNumber" resultMap="orderTimeAndSeat" parameterType="String">
        select seat_id,order_time from orderinfo_temporary where order_number=#{order_number}
    </select>
    <resultMap id="orderTimeAndSeat" type="HashMap">
        <result column="seat_id" property="seat_id" javaType="int" />
        <result column="order_time" property="order_time" javaType="String" />
    </resultMap>
    <select id="queryOrderByOrderNumber" resultType="int" parameterType="String">
        select count(*)
        from orderinfo_temporary where order_number = #{order_number};
    </select>

    <select id="queryOrderById" resultType="Order" parameterType="int">
        select * from orderinfo where id = #{id};
    </select>
    <select id="queryOrderTemporary" parameterType="String" resultType="OrderTemporary">
        select * from orderinfo_temporary where order_number=${order_number}
    </select>
    <select id="queryRouteNumberByOrderNumber" resultType="String" parameterType="String">
        select route_number
        from orderinfo_temporary where order_number=#{order_number};
    </select>

    <insert id="addOrder" parameterType="Order">
        insert into orderinfo
            (id,order_number,username,route_number,id_number,departure_time,
             from_station,to_station,seat_type,seat_id,price,order_time,state,pay_time)
        values
            (#{id},#{order_number},#{username},#{route_number},#{id_number},#{departure_time},
             #{from_station},#{to_station},#{seat_type},#{seat_id},#{price},#{order_time},#{state},#{pay_time})
    </insert>

    <insert id="addOrderTemporary" parameterType="OrderTemporary">
        insert into orderinfo_temporary
        (id,order_number,username,route_number,id_number,departure_time,
         from_station,to_station,seat_type,seat_id,price,order_time,state)
        values
            (#{id},#{order_number},#{username},#{route_number},#{id_number},#{departure_time},
             #{from_station},#{to_station},#{seat_type},#{seat_id},#{price},#{order_time},#{state})
    </insert>

    <update id="updateUser" parameterType="Order">

    </update>

    <delete id="deleteOrderByOrderNumber" parameterType="String">
        delete from orderinfo where order_number = #{order_number}
    </delete>
    <delete id="deleteOrderTemporaryByOrderNumber" parameterType="String">
        delete from orderinfo_temporary where order_number=#{order_number}
    </delete>

    <delete id="deleteOrderTemporaryById" parameterType="int">
        delete from orderinfo_temporary where id = #{id}
    </delete>

</mapper>
