<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.jie.mapper.OrderMapper">

    <select id="queryOrderList" resultType="Order">
        select * from orderinfo;
    </select>
    <select id="queryOrderListPaging" resultType="Order">
        select * from orderinfo
        <if test="key != ''">
            where ${key} like CONCAT('%',#{value},'%')
        </if>
        ORDER BY orderinfo.order_time DESC
        LIMIT ${start},${count}
    </select>
    <select id="queryOrderCount" resultType="int">
        SELECT SUM(count) AS total_count FROM (
            select count(*) as count from orderinfo
            <if test="key != ''">
                where ${key} like CONCAT('%',#{value},'%')
            </if>
        ) AS count_table

    </select>
<!--    <select id="queryConditionOrderPaging" resultType="Order">-->
<!--        select * from orderinfo where-->
<!--        ORDER BY orderinfo.order_time DESC-->
<!--        LIMIT ${start},${count}-->
<!--    </select>-->
<!--    <select id="queryConditionOrderCount" resultType="int">-->
<!--        select count(*) from orderinfo-->
<!--    </select>-->
    <select id="queryNotTravelOrderByPaging" resultType="Order">
        SELECT orderinfo.*
        FROM orderinfo
                 JOIN userinfo ON orderinfo.id_number = userinfo.id_number
        WHERE userinfo.account = #{account} AND orderinfo.seat_id IS NOT NULL
          AND orderinfo.departure_time >= #{departure_time} AND orderinfo.state = '已付款'
        ORDER BY orderinfo.departure_time
        LIMIT ${start},${count}
    </select>
    <select id="queryNotTravelOrderCount" resultType="int">
        SELECT count(*)
        FROM orderinfo
                 JOIN userinfo ON orderinfo.id_number = userinfo.id_number
        WHERE userinfo.account = #{account} AND orderinfo.seat_id IS NOT NULL
          AND orderinfo.departure_time >= #{departure_time} AND
              orderinfo.state = '已付款'
    </select>
    <select id="queryHistoricalOrderByAccount" resultType="Order">
        SELECT orderinfo.*
        FROM orderinfo
            JOIN userinfo ON orderinfo.id_number = userinfo.id_number
        WHERE userinfo.account = #{account} AND orderinfo.seat_id IS NOT NULL
        ORDER BY orderinfo.departure_time DESC
    </select>
    <select id="queryHistoricalOrderPaging" resultType="Order">
        SELECT orderinfo.*
        FROM orderinfo
            JOIN userinfo ON orderinfo.id_number = userinfo.id_number
        WHERE userinfo.account = #{account} AND orderinfo.seat_id IS NOT NULL
        ORDER BY orderinfo.departure_time DESC
        LIMIT ${start},${count}
    </select>
    <select id="queryHistoricalOrderConditionalPaging" resultType="Order">
        SELECT orderinfo.* FROM orderinfo
        JOIN userinfo ON orderinfo.id_number = userinfo.id_number
        WHERE userinfo.account = #{account} AND orderinfo.seat_id IS NOT NULL
        AND orderinfo.departure_time BETWEEN #{startDate} AND #{endDate}
        <if test="key != ''">
            AND (orderinfo.username = #{key} OR orderinfo.route_number = #{key}
            OR orderinfo.order_number = #{key})
        </if>
        ORDER BY orderinfo.departure_time DESC
        LIMIT ${start},${count}
    </select>
    <select id="queryHistoricalOrderConditionalCount" resultType="int">
        SELECT count(*) FROM orderinfo
        JOIN userinfo ON orderinfo.id_number = userinfo.id_number
        WHERE userinfo.account = #{account} AND orderinfo.seat_id IS NOT NULL
        AND orderinfo.departure_time BETWEEN #{startDate} AND #{endDate}
        <if test="key != ''">
            AND (orderinfo.username = #{key} OR orderinfo.route_number = #{key}
            OR orderinfo.order_number = #{key})
        </if>
    </select>
    <select id="queryHistoricalOrderCount" resultType="int">
        SELECT count(*)
        FROM orderinfo
                 JOIN userinfo ON orderinfo.id_number = userinfo.id_number
        WHERE userinfo.account = #{account} AND orderinfo.seat_id IS NOT NULL
    </select>
    <select id="queryOrderTemporaryByAccount" resultType="OrderTemporary">
        SELECT orderinfo_temporary.*
        FROM orderinfo_temporary
            JOIN userinfo ON orderinfo_temporary.id_number = userinfo.id_number
        WHERE userinfo.account = #{account} AND orderinfo_temporary.seat_id IS NOT NULL
        ORDER BY orderinfo_temporary.order_time DESC
    </select>
    <select id="queryOrderTimeByOrderNumber" resultType="String" parameterType="String">
        select order_time from orderinfo_temporary where order_number=#{order_number}
    </select>
    <select id="queryOrderTimeAndSeatByOrderNumber" resultMap="orderTimeAndSeat" parameterType="String">
        select seat_id,order_time from orderinfo_temporary where order_number=#{order_number}
    </select>
    <resultMap id="orderTimeAndSeat" type="HashMap">
        <result column="seat_id" property="seat_id" javaType="int" />
        <result column="order_time" property="order_time" javaType="String" />
    </resultMap>
    <select id="queryOrderByOrderNumber" resultType="int" parameterType="String">
        select count(*)
        from orderinfo_temporary where order_number = #{order_number};
    </select>

    <select id="queryOrderById" resultType="Order" parameterType="int">
        select * from orderinfo where id = #{id};
    </select>
    <select id="queryOrderTemporary" parameterType="String" resultType="OrderTemporary">
        select * from orderinfo_temporary where order_number=${order_number}
    </select>
    <select id="queryOrder" parameterType="String" resultType="Order">
        select * from orderinfo where order_number=${order_number}
    </select>
    <select id="queryRouteNumberByOrderNumber" resultType="String" parameterType="String">
        select route_number
        from orderinfo_temporary where order_number=#{order_number};
    </select>

    <insert id="addOrder" parameterType="Order">
        insert into orderinfo
            (id,order_number,username,route_number,id_number,departure_time,
             from_station,to_station,seat_type,seat_id,price,order_time,state,pay_time)
        values
            (#{id},#{order_number},#{username},#{route_number},#{id_number},#{departure_time},
             #{from_station},#{to_station},#{seat_type},#{seat_id},#{price},#{order_time},#{state},#{pay_time})
    </insert>

    <insert id="addOrderTemporary" parameterType="OrderTemporary">
        insert into orderinfo_temporary
        (id,order_number,username,route_number,id_number,departure_time,
         from_station,to_station,seat_type,seat_id,price,order_time,state)
        values
            (#{id},#{order_number},#{username},#{route_number},#{id_number},#{departure_time},
             #{from_station},#{to_station},#{seat_type},#{seat_id},#{price},#{order_time},#{state})
    </insert>

    <update id="updateOrder" parameterType="Order">
        update orderinfo
        <set>
            <if test="id!=null">id=#{id},</if>
            <if test="order_number!=null">order_number=#{order_number},</if>
            <if test="username!=null">username=#{username},</if>
            <if test="route_number!=null">route_number=#{route_number},</if>
            <if test="id_number!=null">id_number=#{id_number},</if>
            <if test="departure_time!=null">departure_time=#{departure_time},</if>
            <if test="from_station!=null">from_station=#{from_station},</if>
            <if test="to_station!=null">to_station=#{to_station},</if>
            <if test="seat_type!=null">seat_type=#{seat_type},</if>
            <if test="seat_id!=null">seat_id=#{seat_id},</if>
            <if test="price!=null">price=#{price},</if>
            <if test="order_time!=null">order_time=#{order_time},</if>
            <if test="state!=null">state=#{state},</if>
            <if test="pay_time!=null">pay_time=#{pay_time},</if>
        </set>
        where order_number = #{order_number}
    </update>

    <delete id="deleteOrderByOrderNumber" parameterType="String">
        delete from orderinfo where order_number = #{order_number}
    </delete>
    <delete id="deleteOrderTemporaryByOrderNumber" parameterType="String">
        delete from orderinfo_temporary where order_number=#{order_number}
    </delete>

    <delete id="deleteOrderTemporaryById" parameterType="int">
        delete from orderinfo_temporary where id = #{id}
    </delete>
    <delete id="batchDelByOrderNumber" parameterType="string">
        delete from orderinfo where orderinfo.order_number in
        <foreach collection="orderNumbers" item="orderNumber" open="(" separator="," close=")">
            #{orderNumber}
        </foreach>
    </delete>

</mapper>
