<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.jie.mapper.OrderMapper">

    <select id="queryOrderList" resultType="Order">
        select * from orderinfo;
    </select>

    <select id="queryOrderById" resultType="Order" parameterType="int">
        select * from orderinfo where id = #{id};
    </select>

    <insert id="addOrder" parameterType="Order">
        insert into orderinfo
            (id,order_number,username,route_number,id_number,departure_time,
             from_station,to_station,seat_type,seat_id,price,order_time,state,pay_time)
        values
            (#{id},#{order_number},#{username},#{route_number},#{id_number},#{departure_time},
             #{from_station},#{to_station},#{seat_type},#{seat_id},#{price},#{order_time},#{state},#{pay_time})
    </insert>

    <insert id="addOrderTemporary" parameterType="OrderTemporary">
        insert into orderinfo_temporary
        (id,order_number,username,route_number,id_number,departure_time,
         from_station,to_station,seat_type,seat_id,price,order_time,state)
        values
            (#{id},#{order_number},#{username},#{route_number},#{id_number},#{departure_time},
             #{from_station},#{to_station},#{seat_type},#{seat_id},#{price},#{order_time},#{state})
    </insert>

    <update id="updateUser" parameterType="Order">

    </update>

    <delete id="deleteOrderById" parameterType="int">
        delete from orderinfo where id = #{id}
    </delete>

    <delete id="deleteOrderTemporaryById" parameterType="int">
        delete from orderinfo_temporary where id = #{id}
    </delete>

</mapper>
