<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.jie.mapper.TicketMapper">

    <select id="queryTicketList" resultType="Ticket">
        select * from ticket;
    </select>

    <select id="queryTicketById" resultType="Ticket" parameterType="int">
        select * from ticket where id = #{id};
    </select>
    <select id="tableIsTrue" resultType="String" parameterType="String">
        SHOW TABLES LIKE #{table}
    </select>
    <select id="queryRemainingTicket" parameterType="String" resultType="String">
        select remaining_tickets from route_remaining_ticket where route_number = #{route_number} and route_date = #{route_date}
    </select>

    <select id="queryPassengerCapacityByRouteNumber" parameterType="String" resultType="int">
        SELECT passenger_capacity FROM car,car_route
            WHERE car.`car_number` = car_route.`car_number` AND route_number = #{route_number}
    </select>
    <insert id="insertRemainingTicketInfo" parameterType="String">
        insert into route_remaining_ticket (route_number, remaining_tickets, route_date)
            values (#{route_number},#{remaining_tickets},#{route_date})
    </insert>

    <update id="createTableIsNotExist" parameterType="String">
        CREATE TABLE IF NOT EXISTS `${table}` (
            `id` INT NOT NULL AUTO_INCREMENT,
            `order_number` VARCHAR(20) DEFAULT NULL,
            `username` VARCHAR(20) DEFAULT NULL,
            `id_number` VARCHAR(20) DEFAULT NULL,
            `from_station` VARCHAR(20) DEFAULT NULL,
            `to_station` VARCHAR(20) DEFAULT NULL,
            `seat_type` VARCHAR(20) DEFAULT NULL,
            `seat_id` INT DEFAULT NULL,
            `price` DECIMAL(7,4) DEFAULT NULL,
            `ticket_issuance_time` DATETIME DEFAULT NULL,
            PRIMARY KEY (`id`),
            UNIQUE KEY `order_number` (`order_number`)
        ) ENGINE=INNODB AUTO_INCREMENT=4 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
    </update>

    <insert id="addUser" parameterType="User">
        insert into user (id,account,password,username,phone_number,id_type,id_number,district,registration_time)
        values (#{id},#{account},#{password},#{username},#{phone_number},#{id_type},#{id_number},#{district},#{registration_time})
    </insert>

    <update id="updateUser" parameterType="User">
#         update user set name=#{name},pwd=#{pwd} where id=#{id}
    </update>

    <delete id="deleteUserById" parameterType="int">
        delete from user where id = #{id}
    </delete>

</mapper>
