<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.jie.mapper.UserMapper">

    <select id="queryUserList" resultType="User">
        select * from userinfo;
    </select>
    <select id="queryUserPaging" resultType="User">
        select * from userinfo
        <if test="key != ''">
            where ${key} like CONCAT('%',#{value},'%')
        </if>
        ORDER BY registration_time DESC
        LIMIT ${start},${count}
    </select>
    <select id="queryUserCount" resultType="int">
        select count(*) from userinfo
        <if test="key != ''">
            where ${key} like CONCAT('%',#{value},'%')
        </if>
    </select>

    <select id="queryUserById" resultType="User" parameterType="int">
        select * from userinfo where id = #{id};
    </select>
    <select id="checkPhoneTrue" parameterType="String" resultType="int">
        select count(*) from userinfo where phone_number = ${phoneNumber}
    </select>
    <select id="queryIdNumberByAccount" parameterType="String" resultType="String">
        select id_number
        from userinfo where account=#{account};
    </select>

    <select id="queryUsernameByAccount" resultType="String" parameterType="String">
        select username from userinfo where account=#{account}
    </select>

    <select id="queryAccount" resultType="int" parameterType="String">
        select count(*) from userinfo where account = #{account};
    </select>
    <select id="queryPassword" resultType="String" parameterType="String">
        select password from userinfo where account = #{account}
    </select>

    <select id="queryUserByNumber" resultType="User" parameterType="String">
        select * from userinfo where phone_number = #{number};
    </select>
    <select id="queryPhoneByAccount" resultType="String" parameterType="String">
        select phone_number from userinfo where account = #{account}
    </select>
<!--    <select id="queryPhoneAndPhoneVerification" resultMap="" parameterType="String">-->

<!--    </select>-->
<!--    <resultMap id="phoneAndPhoneVerification" type="HashMap">-->
<!--        <result column="phone_number" property="phone_number" javaType="string" />-->
<!--        <result column="phone_verification" property="phone_verification" javaType="String" />-->
<!--    </resultMap>-->
    <select id="queryQQByIdNumber" resultType="String" parameterType="String">
        select email from userinfo where id_number = #{id_number}
    </select>
    <select id="queryEmailByAccount" resultType="String" parameterType="String">
        select email from userinfo where account = #{account}
    </select>
    <select id="queryUserByAccount" resultType="User" parameterType="String">
        select * from userinfo where account = #{account};
    </select>
    <select id="queryUserInfoByAccount" resultMap="userInfoTwo" parameterType="String">
        SELECT userinfo.account,userinfo.username,userinfo.phone_number,userinfo.id_number,userinfo.id_type,
               userinfo.district,userinfo.email,user_verification.id_verification,
               user_verification.phone_verification
        FROM userinfo
                 JOIN user_verification ON userinfo.account = user_verification.account
        WHERE userinfo.account = #{account}
    </select>
    <resultMap id="userInfoTwo" type="HashMap">
        <result column="account" property="account" javaType="String" />
        <result column="username" property="username" javaType="String" />
        <result column="phone_number" property="phone_number" javaType="string" />
        <result column="id_type" property="id_type" javaType="String" />
        <result column="id_number" property="id_number" javaType="String" />
        <result column="district" property="district" javaType="String" />
        <result column="email" property="email" javaType="String" />
        <result column="id_verification" property="id_verification" javaType="String" />
        <result column="phone_verification" property="phone_verification" javaType="String" />
    </resultMap>
    <insert id="addUser" parameterType="User">
        insert into userinfo (id,account,password,username,phone_number,id_type,id_number,district,email,registration_time,state)
        values (#{id},#{account},#{password},#{username},#{phone_number},#{id_type},#{id_number},#{district},#{email},#{registration_time},#{state})
    </insert>

    <insert id="addVerification" parameterType="UserVerification">
        insert into user_verification (id,account, id_verification, phone_verification)
        VALUES (#{id},#{account},#{id_verification},#{phone_verification})
    </insert>

    <update id="updateUser" parameterType="User">
        update userinfo
            <set>
                <if test="id!=null">id=#{id},</if>
                <if test="account!=null">account=#{account},</if>
                <if test="password!=null">password=#{password},</if>
                <if test="username!=null">username=#{username},</if>
                <if test="phone_number!=null">phone_number=#{phone_number},</if>
                <if test="id_type!=null">id_type=#{id_type},</if>
                <if test="id_number!=null">id_number=#{id_number},</if>
                <if test="district!=null">district=#{district},</if>
                <if test="registration_time!=null">registration_time=#{registration_time},</if>
                <if test="email!=null">email=#{email},</if>
                <if test="state!=null">state=#{state},</if>
            </set>
        where account = #{account}
    </update>
    <update id="updateUserByPhone" parameterType="User">
        update userinfo
        <set>
            <if test="id!=null">id=#{id},</if>
            <if test="account!=null">account=#{account},</if>
            <if test="password!=null">password=#{password},</if>
            <if test="username!=null">username=#{username},</if>
            <if test="phone_number!=null">phone_number=#{phone_number},</if>
            <if test="id_type!=null">id_type=#{id_type},</if>
            <if test="id_number!=null">id_number=#{id_number},</if>
            <if test="district!=null">district=#{district},</if>
            <if test="registration_time!=null">registration_time=#{registration_time},</if>
            <if test="email!=null">email=#{email},</if>
            <if test="state!=null">state=#{state},</if>
        </set>
        where phone_number = #{phone_number}
    </update>

    <delete id="deleteUserById" parameterType="int">
        delete from userinfo where id = #{id}
    </delete>
    <delete id="delUserByAccount" parameterType="string">
        delete from userinfo where account = #{account}
    </delete>
    <delete id="batchDelUserByAccount" parameterType="string">
        delete from userinfo where account in
        <foreach collection="accounts" item="account" open="(" separator="," close=")">
            #{account}
        </foreach>
    </delete>

</mapper>
